# Ignore node_modules directory
node_modules/

# Ignore build output
dist/
build/


# Ignore Prisma generated client
node_modules/.prisma/
prisma/client/

# Ignore logs
logs/
*.log

# Ignore OS-specific files
.DS_Store
Thumbs.db
